$colors: (main:#f4f7f8,secondary:#e8eeef);

body {
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: #384047;
}

h1 {
  text-align: center;
  font-size: 28px;
}

form {
  padding: 0 35px;
  gap:10px;
  align-items: center;
  background-color: map-get($colors, main);
  @media screen and (max-width: 580px) {
    width: 340px;
    box-sizing: border-box;
  }
}

@mixin web-responsive-mobile {
  @media screen and (max-width: 580px) {
    width: 270px;
  }
}

.input-text, select {
  background-color: map-get($colors,secondary);
  border: 0;
  height: 50px;
  margin-bottom: 30px;
  width: 550px;
  color: #8a98a0;
  font-size: 16px;
  border-radius: 5px;
  outline: 0;
  padding: 0 20px;
  box-sizing: border-box;
  @include web-responsive-mobile;
}

fieldset {
  border: 0;
  padding: 10px 0;
}

legend {
  font-size: 22px;
}

legend::before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #007a5a;
  display: inline-block;
  border: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

form, fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

button {
  width: 550px;
  height: 40px;
  background-color: #4bc970;
  color: white;
  font-size: 18px;
  border: 0;
  border-radius: 6px;
  @include web-responsive-mobile
}
